/*-------------- form-search -----------------*/
.form-search{
	width: 255px;
	position: relative;

	input[type="text"]{
		display: inline-block;
		height: 30px;
		width: 100%;
		padding-right: 38px;
		@include font(normal, normal, 16px, 28px, $color-dark-blue);
		padding: 5px 0 1px 26px;
		margin: 0;
		border: 0;
		outline: 0;
		border-bottom: 1px solid $color-grey;
		background: transparent;
	}

	input[type="text"]::placeholder{font-weight: 300; color: $color-dark-grey; opacity: 1;}
	input[type="text"]::-webkit-input-placeholder {font-weight: 300; color: $color-dark-grey; opacity: 1;}
	input[type="text"]:-moz-placeholder {font-weight: 300; color: $color-dark-grey; opacity: 1;}

	input[type="text"]:focus{
		border-bottom: 2px solid $color-dark-purple;
		padding-bottom: 0;
	}

	input[type="submit"],
	button{
		display: inline-block;
		width: 16px;
		height: 16px;
		background: transparent;
		position: absolute;
		left: 0;
		@include top-center;
		font-size: 0;
		border: 0;
		outline: 0;
		box-shadow: none;
		padding: 0;
		margin-top: 1px;
	}

	button .icon{
		width: 16px;
		height: 16px;
		fill: $color-grey;
	}
	
	// input[type="text"]:focus + input[type="submit"],
	input[type="text"]:focus+button .icon{
		fill: $color-dark-blue;
	}

	&__close{
		display: none;
		width: 16px;
		height: 16px;
		position: absolute;
		right: 0;
		@include top-center;
		text-align: center;
		vertical-align: middle;
		margin-top: 3px;
	}

	&__close .ic-close-small{
		width: 7px;
		stroke: $color-dark-blue;
	}

	input[type="text"]:focus + button + &__close{
		display: inline-block;
	}

	&_white input[type="text"]::placeholder{color: $color-light-grey}
	&_white input[type="text"]::-webkit-input-placeholder {color: $color-light-grey}
	&_white input[type="text"]:-moz-placeholder {color: $color-light-grey}

	&_white input[type="text"]{color: #fff;}

	&_white input[type="text"]{border-color: #fff;}
	&_white input[type="text"]:focus{border-bottom: 2px solid #fff;}

	// &_white input[type="submit"],
	&_white button .icon,
	// &_white input[type="text"]:focus + input[type="submit"],
	&_white input[type="text"]:focus+button .icon{
		fill: #fff;
	}

	&_white &__close .ic-close-small{stroke: #fff;}

	
}

@media (max-width: 991px) {
	.form-search{
		width: 175px;
	}
}