/*-------------- query -----------------*/
.query-wrap{
	margin-top: 12px;

	.admin-table__item:first-child{
		width: 600px;
	}

	.admin-table__item:nth-child(2){
		width: 250px;
	}

	.admin-table__item:nth-child(3){
		width: 250px;
	}

	.admin-table{
		th,
		td{
			width: auto;
		}
	}

	th.admin-table__item_menu{
		width: 60px;
	}
}

.empty-block{
	margin-top: 24px;

	&__head{
		@include font(normal, normal, rem(28px), 1.1, $color-dark-grey);
		margin-top: 31px;
	}

	&__text{
		@include font(normal, normal, rem(20px), 1.1, $color-grey);
		margin-top: 24px;
	}

	&__img{
		text-align: center;
		margin-top: 73px;
		margin-bottom: 6px;
	}
}

.home-empty-list{margin-bottom: -76px;}
.home-empty-list .empty-block__img{margin-top: 28px;}
.my-events-empty .empty-block__img{margin-top: 87px;}

@media (max-width: 1899px) {
	.query-wrap{
		.admin-table__item:first-child{
			width: 375px;
		}
	}
}

@media (max-width: 1335px) {
	.query-wrap{
		.admin-table__item:nth-child(2){
			width: 200px;
		}
	
		.admin-table__item:nth-child(3){
			width: 200px;
		}
	}
}

@media (max-width: 1199px) {
	.query-wrap{
		.admin-table__item:first-child{
			width: 275px;
		}
	}
}

@media (max-width: 991px) {
	.query-wrap{
		// .admin-table__item:first-child{
		// 	width: 175px;
		// }

		// .admin-table__item:nth-child(2){
		// 	width: 250px;
		// }
	
		// .admin-table__item:nth-child(3){
		// 	width: 250px;
		// }
		.admin-table__item:first-child,
		.admin-table__item:nth-child(2),
		.admin-table__item:nth-child(3){
			width: 33%;
		}
	}
}

@media (max-width: 767px) {
	.empty-block{
		&__head{
			font-size: rem(26px);
		}

		&__text{
			font-size: rem(16px);
		}
	}

	.query-wrap{
		.admin-table__item:first-child{
			width: 100%;
		}
	}
}