/*-------------- tabs-page -----------------*/
.tabs-page{
	display: flex;

	&__item{
		display: inline-block;
		height: rem(30px);
		min-width: 110px;
		border: 1px solid $color-dark-purple;
		@include font(normal, 600, rem(14px), rem(28px), $color-dark-purple);
		text-align: center;
		padding: 0 16px;
	}

	&__item.active{
		background: $color-dark-purple;
		color: #fff;
		cursor: auto;
	}

	&__item:hover{
		color: $color-dark-purple;
		text-decoration: none;
		background: rgba(83, 3, 168, 0.05);
	}

	&__item.active:hover{
		color: #fff;
		border-color: #3f0280;
		background: #3f0280;
	}

	&__item:first-child{
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	&__item:last-child{
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	&__item:not(:last-child){
		border-right: 0;
	}
}

@media (max-width: 767px) {
	.tabs-page{
		&__item{
			min-width: 44px;
			padding: 0 10px;
		}
	}
}