.admin-table-info__top
	.admin-table-info__head Details
	.admin-table-info__icons
		span.ic-hover
			+svg('ic-close-history','ic-close-history ic-stroke')

.admin-table-info__content
	.admin-table-info__item
		.admin-table-info__title File Name:
		.admin-table-info__val 20190804_170415_20181111_154611_Gender_Hierarchy (1).csv

	.admin-table-info__item
		.admin-table-info__title Last Modified:
		.admin-table-info__val Sep 8, 2019 12:17

	.admin-table-info__item
		.admin-table-info__title Description:
		.admin-table-info__val Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

	.admin-table-info__item
		.admin-table-info__title State:
		.admin-table-info__val
			.admin-table-info__ic
				+svg('ic-robot','ic-robot ic-grey')
			|Auto-Update Hierarchy

	.admin-table-info__item
		.admin-table-info__title Used in:
		.admin-table-info__val
			.admin-table-info__ic
				+svg('ic-plug','ic-plug ic-grey')
			|Diagnosis, Admission Diagnosis, Procedures, Customised events

	.admin-table-info__item
		.admin-table-info__title Environment:
		.admin-table-info__val JB_TEST

	.admin-table-info__item
		.admin-table-info__title Default Category:
		.admin-table-info__val ATC1
