section.import-file
	.container-fluid
		.row
			.col-12
				.import-file__head-wrap
					h1 Imported files
					span.import-file__detail.d-md-none Details

				.import-file__text This page allows you to import data file (in a CSV forma), in order to filter the data and generate synthetic data. The file data is not loaded to the data base.
				span.import-file__more.d-none.d-md-inline.d-xl-none Read more