section.import-file
	.container
		.row
			.col-12
				.import-file__head Imported files

				.import-file__text This page allows you to import data file (in a CSV forma), in order to filter the data and generate synthetic data. The file data is not loaded to the data base.
				span.import-file__more.d-xl-none Read more