.admin-table-content
	.admin-table-info.active
		.admin-table-info__top
			.admin-table-info__head Details
			.admin-table-info__icons
				span.ic-hover
					+svg('ic-download','ic-download')
				span.ic-hover
					+svg('ic-close-history','ic-close-history ic-stroke')

		.admin-table-info__content
			.admin-table-info__main
				.admin-table-info__col
					.admin-table-info__item
						.admin-table-info__title Full Name:
						.admin-table-info__val Lina Perez

					.admin-table-info__item
						.admin-table-info__title Source:
						.admin-table-info__val Query

					.admin-table-info__item
						.admin-table-info__title Query/File Name:
						.admin-table-info__val Diabetes for kids with type 1 and meds

				.admin-table-info__col
					.admin-table-info__item
						.admin-table-info__title Username:
						.admin-table-info__val L. Perez

					.admin-table-info__item
						.admin-table-info__title Query ID:
						.admin-table-info__val
								a.file-count(href="#")
									span.file-count__val 7680
									+svg('ic-external-link','ic-external-link')

					.admin-table-info__item
						.admin-table-info__title Data:
						.admin-table-info__val Original data

			.admin-table-info__item
				.admin-table-info__title Research:
				.admin-table-info__val Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod

			.admin-table-info__item
				.admin-table-info__title Research Description:
				.admin-table-info__val Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

			.admin-table-info__item
				.admin-table-info__title Approval Key:
				.admin-table-info__val 12345678901234567890

			.admin-table-info__item
				.admin-table-info__title Environment:
				.admin-table-info__val R Test Project

	table.admin-table.admin-table_auto
		thead
			tr.admin-table__head
				th.admin-table__item.d-none.d-md-table-cell
					.admin-table__date
						span.admin-table__sort.admin-table__sort_desk
							span.admin-table__sort-up
							span.admin-table__sort-down
						|Date

				th.admin-table__item.d-none.d-md-table-cell
					.admin-table__user
						span.admin-table__sort
							span.admin-table__sort-up
							span.admin-table__sort-down
						|User

						.admin-table-filter
							.admin-table-filter__icon
								span.ic-hover
									+svg('ic-filter','ic-filter ic-stroke')

				th.admin-table__item
					span.admin-table__sort
						span.admin-table__sort-up
						span.admin-table__sort-down
					|Query/File Name

				th.admin-table__item.d-none.d-xl-table-cell
					span.admin-table__sort
						span.admin-table__sort-up
						span.admin-table__sort-down
					|Approval Key

				th.admin-table__item.d-none.d-xxxl-table-cell
					span.admin-table__sort
						span.admin-table__sort-up
						span.admin-table__sort-down
					|Research

				th.admin-table__item.d-none.d-xxxl-table-cell
					|Data

				th.admin-table__item.d-none.d-xxxl-table-cell
					span.admin-table__sort
						span.admin-table__sort-up
						span.admin-table__sort-down
					|Environment

					//- +adminTableFilter()
					.admin-table-filter
						.admin-table-filter__icon
							span.ic-hover
								+svg('ic-filter','ic-filter ic-stroke')

				
				th.admin-table__item.d-none.d-xl-table-cell
					span.admin-table__sort
						span.admin-table__sort-up
						span.admin-table__sort-down
					|Source

					.admin-table-filter
						.admin-table-filter__icon
							span.ic-hover
								+svg('ic-filter','ic-filter ic-stroke')

				th.admin-table__item.d-none.d-xl-table-cell.admin-table__item_center
					span.admin-table__sort
						span.admin-table__sort-up
						span.admin-table__sort-down
					|Status

				th.admin-table__item

		-
			var rows = [
				{
					row:{selected:'active'},
					fields:[
						{title:'Nov 26, 2019 13:51', class:'d-none d-md-table-cell', details:'true'},
						{title:'Lina Perez', class:'d-none d-md-table-cell'},
						{file_name:'d-Stroke for a long description...', file_count:'1233'},
						{title:'12345678901234567890', class:'d-none d-xl-table-cell'},
						{title:'Diabetes Research', class:'d-none d-xxxl-table-cell'},
						{title:'Synthetic', circle:'purple', class:'d-none d-xxxl-table-cell'},
						{title:'R Test Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-failure', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_status:'inactive', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Nov 12, 2019 11:28', class:'d-none d-md-table-cell', details:'true'},
						{title:'Ophelia Allen', class:'d-none d-md-table-cell'},
						{file_name:'Stroke Small', file_count:'2345'},
						{title:'Rambam Diabetees Oren', class:'d-none d-xl-table-cell'},
						{title:'Lorem Ipsum', class:'d-none d-xxxl-table-cell'},
						{title:'Synthetic', circle:'purple', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Oct 22, 2019 11:44', class:'d-none d-md-table-cell', details:'true'},
						{title:'Polly Osborne', class:'d-none d-md-table-cell'},
						{file_name:'David Frost query for c.Diff', file_count:'11223'},
						{title:'Tik Ipur - 123BB', class:'d-none d-xl-table-cell'},
						{title:'Lorem Ipsum', class:'d-none d-xxxl-table-cell'},
						{title:'Synthetic', circle:'purple', class:'d-none d-xxxl-table-cell'},
						{title:'R Test Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Oct 22, 2019 17:36', class:'d-none d-md-table-cell', details:'true'},
						{title:'Victor Potter', class:'d-none d-md-table-cell'},
						{file_name:'DM-Tests - 2 date formats', file_count:'567'},
						{class:'d-none d-xl-table-cell'},
						{title:'Lorem Ipsum', class:'d-none d-xxxl-table-cell'},
						{title:'Original', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Oct 10, 2019 14:37', class:'d-none d-md-table-cell', details:'true'},
						{title:'Zachary Alexander', class:'d-none d-md-table-cell'},
						{file_name:'BMI in adults with type 2', file_count:'7788'},
						{title:'88- Moty LuchimJun19', class:'d-none d-xl-table-cell'},
						{title:'Diabetes Research', class:'d-none d-xxxl-table-cell'},
						{title:'Synthetic', circle:'purple', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Mar 7, 2019 14:59', class:'d-none d-md-table-cell', details:'true'},
						{title:'Millie Alexander', class:'d-none d-md-table-cell'},
						{file_name:'0123456789012345678901233233423', file_count:'7890'},
						{class:'d-none d-xl-table-cell'},
						{title:'Diabetes Research', class:'d-none d-xxxl-table-cell'},
						{title:'Original', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-failure', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_status:'inactive', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Feb 17, 2019 13:22', class:'d-none d-md-table-cell', details:'true'},
						{title:'Martin James', class:'d-none d-md-table-cell'},
						{file_name:'CKD Patients query 1', file_count:'4532'},
						{title:'Ela Maayan 6755-Z', class:'d-none d-xl-table-cell'},
						{title:'Diabetes Research', class:'d-none d-xxxl-table-cell'},
						{title:'Synthetic', circle:'purple', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-failure', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Feb 7, 2019 11:34', class:'d-none d-md-table-cell', details:'true'},
						{title:'Jonathan Swansson', class:'d-none d-md-table-cell'},
						{file_name:'All blood tests for type 1 and Type 2 Diabetes'},
						{class:'d-none d-xl-table-cell'},
						{class:'d-none d-xxxl-table-cell'},
						{title:'Original', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Imported file', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Dec 13, 2018 11:43', class:'d-none d-md-table-cell', details:'true'},
						{title:'Jorge Huff', class:'d-none d-md-table-cell'},
						{file_name:'Base-New23-12.', file_count:'895564'},
						{class:'d-none d-xl-table-cell'},
						{title:'Quality indicators in Hospital', class:'d-none d-xxxl-table-cell'},
						{title:'Synthetic', circle:'purple', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Feb 7, 2019 11:00', class:'d-none d-md-table-cell', details:'true'},
						{title:'Moti Luchim', class:'d-none d-md-table-cell'},
						{file_name:'20181105_130910_Imported File1.csv', file_count:'2355'},
						{class:'d-none d-xl-table-cell'},
						{title:'Quality indicators in Hospital', class:'d-none d-xxxl-table-cell'},
						{title:'Original', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Dec 13, 2018 11:43', class:'d-none d-md-table-cell', details:'true'},
						{title:'Jorge Huff', class:'d-none d-md-table-cell'},
						{file_name:'Base-New23-12.', file_count:'895564'},
						{class:'d-none d-xl-table-cell'},
						{title:'Quality indicators in Hospital', class:'d-none d-xxxl-table-cell'},
						{title:'Original', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
				{
					row:{selected:''},
					fields:[
						{title:'Feb 7, 2019 11:00', class:'d-none d-md-table-cell', details:'true'},
						{title:'Moti Luchim', class:'d-none d-md-table-cell'},
						{file_name:'20181105_130910_Imported File1.csv', file_count:'2355'},
						{class:'d-none d-xl-table-cell'},
						{title:'Quality indicators in Hospital', class:'d-none d-xxxl-table-cell'},
						{title:'Original', class:'d-none d-xxxl-table-cell'},
						{title:'Demo Project', class:'d-none d-xxxl-table-cell'},
						{title:'Query', class:'d-none d-xl-table-cell'},
						{icon:'ic-success', class:'d-none d-xl-table-cell admin-table__item_center'},
						{icon:'ic-download', icon_hover:'true', icon_color:'true', class:'admin-table__load'},
					],
				},
			];
		+adminTableRow(rows)

+pager('Showing 1-12 of 175 files','count')