.pager-wrap
	.pager-wrap__title Showing 1-15 of 82 files

	.pager
		a(href="#").pager__arr.pager__arr_left
			+svg('ic-pager-arr-left','ic-pager-arr-left')

		span.pager__list
			span.pager__item.active 1
			span.pager__item
				a(href="#").ic-hover 2
			span.pager__item
				a(href="#").ic-hover 3
			span.pager__item ...
			span.pager__item
				a(href="#").ic-hover 6
		a(href="#").pager__arr.pager__arr_right.active.ic-hover
			+svg('ic-pager-arr-right','ic-pager-arr-right')