section.info-panel-wrap
	.container-fluid
		.row
			.col-12
				.info-panel
					.info-panel__content
						.info-panel-choose
							.info-panel-choose__item
								.info-panel-choose__title Environment:
								.info-panel-choose__val
									.select.select_small
										.select__head Please Select...
											.select__head-arr
												+svg('ic-select-arr-down','ic-select-arr-down')
										.select__option
											.select__param Health Institute external
											.select__param Health Institute 2
											.select__param Health Institute 3
											.select__param Health Institute 4

							.info-panel-choose__item
								.info-panel-choose__title Years:
								.info-panel-choose__val
									.select.select_small
										.select__head Please Select...
											.select__head-arr
												+svg('ic-select-arr-down','ic-select-arr-down')
										.select__option
											.select__param YTD (Year To Date)
											.select__param YTD (Year To Date) 2
											.select__param YTD (Year To Date) 3
											.select__param YTD (Year To Date) 4

						.info-panel__switch
							.info-panel__switch-label Include Admin Users
						
							.switch
								input(type="checkbox", id="switch1")
								label.switch__content(for="switch1")
									.switch__marker
									.switch__on Yes
									.switch__off No