extends ../layout/main

block variables
	- var title = 'Categorization list';
	//- - var h1 = 'Categorization list';

block content
	+catListHead
	
	section.empty-block
		.container-fluid
			.row
				.col-12
					a.btn.btn_icon(href='#') + New Categorization

					.empty-block__head Categorization makes the data accessible. Start by clicking the button above.
					.empty-block__text Your categorization will be listed here.

					.empty-block__img
						img(src="assets/img/categorization-empty.png", alt="", style="height: 304px")