extends ../layout/main

block variables
	- var title = 'Edit categories';
	- var footer = 'show';
	//- - var h1 = 'Imported files';

block content
	+editTableHead

	include ../components/edit-categories-panel

	section.admin-table-wrap
		.container-fluid
			.row
				.col-12
					include ../components/edit-categories-table

					+addTableInfo('ic-user-notice-empty')
