extends ../layout/main

block variables
	- var title = 'Share query';
	- var h1 = 'Share query';
	- var body_scroll = 'false';

block modal
	+modalShareQuery('','empty')

block content
	section.query-wrap
		.container-fluid
			.row
				.col-12
					.unwrap
						.unwrap__head
							.unwrap__head-content
								span.unwrap__arr.ic-hover
									+svg('ic-select-arr-down','ic-select-arr-down')
								span.unwrap__title My Queries | 
									span.unwrap__count 38

						.unwrap__content
								include ../components/home-table-my-queries

	section.query-wrap
		.container-fluid
			.row
				.col-12
					.unwrap
						.unwrap__head
							.unwrap__head-content
								span.unwrap__arr.ic-hover
									+svg('ic-select-arr-down','ic-select-arr-down')
								span.unwrap__title Queries shared with me | 
									span.unwrap__count 3

							+formSearch('','Search…')

						.unwrap__content
							include ../components/home-table-shared

	//- section.query-wrap
	//- 	.container-fluid
	//- 		.row
	//- 			.col-12
	//- 				.unwrap
	//- 					.unwrap__head
	//- 						.unwrap__head-content
	//- 							span.unwrap__arr.ic-hover
	//- 								+svg('ic-select-arr-down','ic-select-arr-down')
	//- 							span.unwrap__title My Approval Keys | 
	//- 								span.unwrap__count 2

	//- 					.unwrap__content
	//- 						include ../components/home-table-key