extends ../layout/main

block variables
	- var title = 'Home';
	- var h1 = 'Home';

block content
	section.empty-block
		.container-fluid
			.row
				.col-12
					a.btn.btn_icon(href='#') + New Query

					.empty-block__head Every journey starts with a questions. Ask yours by clicking the button above.
					.empty-block__text Your queries will be listed here.

					.empty-block__img
						img(src="assets/img/home-empty.png", alt="")