extends ../layout/main

block variables
	- var title = 'Home';
	- var h1 = 'Home';

block content
	section.query-wrap
		.container-fluid
			.row
				.col-12
					.unwrap
						.unwrap__head
							span.unwrap__arr.ic-hover
								+svg('ic-select-arr-down','ic-select-arr-down')
							span.unwrap__title My Queries | 
								span.unwrap__count 38

						.unwrap__content
							.admin-table-wrap
								.admin-table-wrap__action
									.admin-table-wrap__col
										a.btn.btn_icon(href='#') + New Query

									.admin-table-wrap__col
										+formSearch('d-none d-md-block','Search…')

								table.admin-table.admin-table_yellow
									thead
										tr.admin-table__head
											th.admin-table__item
												.admin-table__head
													span.admin-table__sort
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Name

											th.admin-table__item.d-none.d-md-table-cell
												.admin-table__head
													span.admin-table__sort
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Modified

											th.admin-table__item.d-none.d-md-table-cell
												.admin-table__head
													span.admin-table__sort
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Created

											th.admin-table__item.d-none.d-lg-table-cell
												.admin-table__head
													|Shared

											th.admin-table__item.d-none.d-lg-table-cell
												.admin-table__head
													|Approval Key

											th.admin-table__item.d-none.d-lg-table-cell
												.admin-table__head
													|Status

											th.admin-table__item.d-none.d-xl-table-cell
												.admin-table__head Columns

											th.admin-table__item.d-none.d-xxl-table-cell
												.admin-table__head
													span.admin-table__sort
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Cohort size

											th.admin-table__item

									-
										var rows=[
											{
												row:{selected:''},
												name:{title:'CKD patients with all their medications patients with all their medications'},
												fields:[
													{title:'Nov 26, 2019', class:'d-none d-md-table-cell'},
													{title:'Nov 26, 2019', class:'d-none d-md-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{icon:'ic-running', icon_color:'true', class:'d-none d-lg-table-cell'},
													{title:'~9,999', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													popup:'active',
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'CKD patients with all their medications patients with all their medications'},
												fields:[
													{title:'Nov 5, 2019', class:'d-none d-md-table-cell'},
													{title:'Nov 4, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared', class:'d-none d-lg-table-cell'},
													{icon:'ic-key', class:'d-none d-lg-table-cell'},
													{icon:'ic-data', class:'d-none d-lg-table-cell'},
													{title:'10', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'1234567890123456789012345678901289012'},
												fields:[
													{title:'Nov 4, 2019', class:'d-none d-md-table-cell'},
													{title:'Oct 11, 2019', class:'d-none d-md-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{icon:'ic-data', class:'d-none d-lg-table-cell'},
													{title:'89', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'20180813_134819_20180726_21210'},
												fields:[
													{title:'Nov 2, 2019', class:'d-none d-md-table-cell'},
													{title:'Oct 10, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared', class:'d-none d-lg-table-cell'},
													{icon:'ic-key', class:'d-none d-lg-table-cell'},
													{icon:'ic-data', class:'d-none d-lg-table-cell'},
													{title:'999', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'DM-Tests - 2 date formats in t'},
												fields:[
													{title:'Oct 21, 2019', class:'d-none d-md-table-cell'},
													{title:'Oct 10, 2019', class:'d-none d-md-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{title:'999', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'20180813_134819_20180726_21210'},
												fields:[
													{title:'Nov 2, 2019', class:'d-none d-md-table-cell'},
													{title:'Oct 10, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared', class:'d-none d-lg-table-cell'},
													{icon:'ic-key', class:'d-none d-lg-table-cell'},
													{icon:'ic-data', class:'d-none d-lg-table-cell'},
													{title:'999', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'DM-Tests - 2 date formats in t'},
												fields:[
													{title:'Oct 21, 2019', class:'d-none d-md-table-cell'},
													{title:'Oct 10, 2019', class:'d-none d-md-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{class:'d-none d-lg-table-cell'},
													{title:'999', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'CKD patients with all their medications patients with all their medications'},
												fields:[
													{title:'Nov 5, 2019', class:'d-none d-md-table-cell'},
													{title:'Nov 4, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared', class:'d-none d-lg-table-cell'},
													{icon:'ic-key', class:'d-none d-lg-table-cell'},
													{icon:'ic-data', class:'d-none d-lg-table-cell'},
													{title:'10', class:'d-none d-xl-table-cell'},
													{title:'—', class:'d-none d-xxl-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate'},
														{img:'ic-download', text:'Download Files', disable:'true'},
														{img:'ic-share', text:'Share'},
														{img:'ic-quality', text:'Quality of Care', disable:'true'},
														{img:'ic-send', text:'Send'},
													]
												}
											},
										];

									+adminTableRow(rows)

								+pager('Showing 1-8 of 38 queries')

	section.query-wrap
		.container-fluid
			.row
				.col-12
					.unwrap
						.unwrap__head
							span.unwrap__arr.ic-hover
								+svg('ic-select-arr-down','ic-select-arr-down')
							span.unwrap__title Queries shared with me | 
								span.unwrap__count 4

						.unwrap__content
							.admin-table-wrap
								.admin-table-wrap__action
									.admin-table-wrap__col

									.admin-table-wrap__col
										+formSearch('d-none d-md-block','Search…')

								table.admin-table.admin-table_blue
									thead
										tr.admin-table__head
											th.admin-table__item
												.admin-table__head
													span.admin-table__sort
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Name

											th.admin-table__item.d-none.d-md-table-cell
												.admin-table__head
													span.admin-table__sort.admin-table__sort_asc
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Modified

											th.admin-table__item.d-none.d-md-table-cell
												.admin-table__head
													span.admin-table__sort
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Shared by

											th.admin-table__item.d-none.d-lg-table-cell
												.admin-table__head
													|My Permissions

											th.admin-table__item

									-
										var rows=[
											{
												row:{selected:''},
												name:{title:'Diabetes: patients with Kidney desease (3-4)'},
												fields:[
													{title:'Nov 4, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared',title:'John Doe', class:'d-none d-md-table-cell', tooltip:'Shraed in Feb 15, 2019', tooltip_status:'show'},
													{title:'View', class:'d-none d-lg-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate to <b>My Queries</b>'},
													],
													icons_bottom:[
														{img:'ic-remove', text:'Remove from list'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'12345678901234567890123456789012345678901234567890546'},
												fields:[
													{title:'Oct 11, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared',title:'Israel Israeli', class:'d-none d-md-table-cell'},
													{title:'Edit', class:'d-none d-lg-table-cell'},
												],
												menu:{
													popup:'active',
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate to <span style="font-weight: 600;">My Queries</span>'},
													],
													icons_bottom:[
														{img:'ic-remove', text:'Remove from list'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'Diabetes: Type 1 patients with ESRD'},
												fields:[
													{title:'Oct 10, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared',title:'Moshe Bateva', class:'d-none d-md-table-cell'},
													{title:'View', class:'d-none d-lg-table-cell'},
												],
												menu:{
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate to <b>My Queries</b>'},
													],
													icons_bottom:[
														{img:'ic-remove', text:'Remove from list'},
													]
												}
											},
											{
												row:{selected:''},
												name:{title:'12345678901234567890123456789012345678901234567890546'},
												fields:[
													{title:'Oct 11, 2019', class:'d-none d-md-table-cell'},
													{icon:'ic-shared',title:'Israel Israeli', class:'d-none d-md-table-cell'},
													{title:'Edit', class:'d-none d-lg-table-cell'},
												],
												menu:{
													popup:'active',
													icons:[
														{img:'ic-edit', text:'Edit'},
														{img:'ic-duplicate', text:'Duplicate to <span style="font-weight: 600;">My Queries</span>'},
													],
													icons_bottom:[
														{img:'ic-remove', text:'Remove from list'},
													]
												}
											},
										];

									+adminTableRow(rows)

	section.query-wrap
		.container-fluid
			.row
				.col-12
					.unwrap
						.unwrap__head
							span.unwrap__arr.ic-hover
								+svg('ic-select-arr-down','ic-select-arr-down')
							span.unwrap__title My Approval Keys | 
								span.unwrap__count 2

						.unwrap__content
							.admin-table-wrap
								table.admin-table.admin-table_green
									thead
										tr.admin-table__head
											th.admin-table__item
												.admin-table__head
													|Key name

											th.admin-table__item.d-none.d-md-table-cell
												.admin-table__head
													|Research

											th.admin-table__item.d-none.d-md-table-cell
												.admin-table__head
													|Status

											th.admin-table__item.d-none.d-lg-table-cell
												.admin-table__head
													span.admin-table__sort.admin-table__sort_asc
														span.admin-table__sort-up
														span.admin-table__sort-down
													|Expiration date

											th.admin-table__item

									-
										var rows=[
											{
												row:{selected:''},
												name:{title:'28549-1-CKD patients'},
												fields:[
													{title:'CKD research approval 2', class:'d-none d-md-table-cell'},
													{icon:'ic-success', icon_color:'true', title:'Active', class:'d-none d-md-table-cell'},
													{title:'Mar 7, 2020 08:31', class:'d-none d-lg-table-cell'},
												],
											},
											{
												row:{selected:''},
												name:{title:'215490-0215490-0215490-0215490-0215490-0215490-021549532'},
												fields:[
													{title:'CKD research approval', class:'d-none d-md-table-cell'},
													{icon:'ic-warning', icon_color:'true', title:'Expired', class:'d-none d-md-table-cell'},
													{title:'Oct 8, 2018 10:31', class:'d-none d-lg-table-cell'},
												],
											},
										];

									+adminTableRow(rows)