extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'header-open.html',name:'Header open'},
			{href: 'main.html',name:'Imported files'},
			{href: 'main-popup.html',name:'Imported files with popup'},
			{href: 'main-modal.html',name:'Imported files with modal'},
			{href: 'main-modal-active.html',name:'Imported files with modal (active and error)'},
			{href: 'main-modal-mobile.html',name:'Imported files with modal mobile (<768px)'},
			{href: 'main-modal-mobile-active.html',name:'Imported files with modal mobile (active and error, <768px)'},
			{href: 'home-close.html',name:'Home (close)'},
			{href: 'home.html',name:'Home'},
			{href: 'home-send-query.html',name:'Home send query'},
			{href: 'home-send-query-active.html',name:'Home send query active'},
			{href: 'home-share-query.html',name:'Home share query'},
			{href: 'home-share-query-active.html',name:'Home share query active'},
			{href: 'home-empty.html',name:'Home empty'},
			{href: 'home-empty-list.html',name:'Home empty with list'},
			{href: 'my-events.html',name:'My events'},
			{href: 'my-events-empty.html',name:'My events empty'},
			{href: 'file-mapping.html',name:'File Mapping'},
			{href: 'file-mapping-popup.html',name:'File Mapping with popup'},
			{href: 'file-mapping-legend.html',name:'File Mapping with legend'},
			{href: 'file-mapping-share.html',name:'File Mapping with share'},
			{href: 'file-mapping-share-active.html',name:'File Mapping with share active'},
			{href: 'output-history.html',name:'Output history report'},
			{href: 'output-history-details.html',name:'Output history report details'},
			{href: 'output-history-date.html',name:'Output history report select date'},
			{href: 'categorization-list.html',name:'Categorization list'},
			{href: 'categorization-list-details.html',name:'Categorization list details'},
			{href: 'categorization-popup.html',name:'Categorization list popup'},
			{href: 'categorization-legend.html',name:'Categorization list legend'},
			{href: 'categorization-load.html',name:'Categorization list load'},
			{href: 'categorization-modal.html',name:'Categorization list modal'},
			{href: 'categorization-modal-replace.html',name:'Categorization list modal replace'},
			{href: 'categorization-modal-replace-error.html',name:'Categorization list modal replace error'},
			{href: 'map-categories.html',name:'Map categories'},
			{href: 'map-categories-error.html',name:'Map categories error'},
			{href: 'edit-categories.html',name:'Edit categories'},
			{href: 'edit-categories-popup.html',name:'Edit categories popup'},
			{href: 'edit-categories-notice-without-notes.html',name:'Edit categories notice without notes'},
			{href: 'edit-categories-notice.html',name:'Edit categories notice'},
			{href: 'usage-dashboard.html',name:'Usage dashboard (General Usage)'},
			{href: 'usage-dashboard-monthly.html',name:'Usage dashboard (Monthly Activity)'},
			{href: 'usage-dashboard-activity.html',name:'Usage dashboard (Activity per User)'},
			{href: 'usage-dashboard-top.html',name:'Usage dashboard (Top 10 Users)'},
			{href: 'usage-dashboard-created.html',name:'Usage dashboard (Created)'},
			{href: 'usage-dashboard-retention.html',name:'Usage dashboard (Retention)'},
			{href: 'usage-dashboard-table.html',name:'Usage dashboard (Table)'},
			//- {href: 'main-modal-more-mobile.html',name:'Imported files more information mobile(<768px)'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section
		.container-fluid
			.row
				.col-12
					h1 Content
					ul
						each page in pagelist
							li
								a(href=page.href,)= page.name


