extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'main.html',name:'Imported files'},
			{href: 'main-popup.html',name:'Imported files with popup'},
			{href: 'main-modal.html',name:'Imported files with modal'},
			{href: 'main-modal-active.html',name:'Imported files with modal (active and error)'},
			{href: 'main-modal-mobile.html',name:'Imported files with modal mobile (<768px)'},
			//- {href: 'main-modal-more-mobile.html',name:'Imported files more information mobile(<768px)'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section
		.container-fluid
			.row
				.col-12
					h1 Content
					ul
						each page in pagelist
							li
								a(href=page.href,)= page.name


