extends ../layout/main

block variables
	- var title = 'Imported files';
	//- - var h1 = 'Imported files';

block content
	section.mobile-modal-window
		.container-fluid
			.row
				.col-12
					// form upload file
					+modalWindow('error','active')