extends ../layout/main

block variables
	- var title = 'Imported files';
	//- - var h1 = 'Imported files';

block content
	include ../components/import-file

	section.admin-table-wrap
		.container-fluid
			.row
				.col-12
					.admin-table-wrap__action
						+formSearch('d-md-none')

						.admin-table-wrap__col
							a.btn.btn_icon(href='#') + New File

						.admin-table-wrap__col
							-
								var tabs=[
									{name:'All', link:'#', active:'true'},
									{name:'Last Month', name_sort:'M', link:'#'},
									{name:'Last Week', name_sort:'W', link:'#'},
								];

							+tabsPage(tabs)

							+formSearch('d-none d-md-block')
 
					table.admin-table
						thead
							tr.admin-table__head
								th.admin-table__item.w-xxl-8.w-md-6
									span.admin-table__sort
										span.admin-table__sort-up
										span.admin-table__sort-down
									|Name

								th.admin-table__item.d-none.d-md-table-cell
									span.admin-table__sort.admin-table__sort_desk
										span.admin-table__sort-up
										span.admin-table__sort-down
									|Loaded

								th.admin-table__item.d-none.d-md-table-cell.w-md-3
									span.admin-table__sort
										span.admin-table__sort-up
										span.admin-table__sort-down
									|Environment

									+adminTableFilter()

								th.admin-table__item.d-none.d-lg-table-cell.w-md-3
									span.admin-table__sort
										span.admin-table__sort-up
										span.admin-table__sort-down
									|Permission Group

									.admin-table-filter
										.admin-table-filter__icon
											span.ic-hover
												+svg('ic-filter','ic-filter ic-stroke')


								th.admin-table__item.d-none.d-xxl-table-cell
									|User

									.admin-table-filter
										.admin-table-filter__icon
											span.ic-hover
												+svg('ic-filter','ic-filter ic-stroke')

								th.admin-table__item.d-none.d-md-table-cell.admin-table__item_center
									|Shared

								th.admin-table__item.d-none.d-xxl-table-cell.admin-table__item_right
									|Columns

								th.admin-table__item.d-none.d-xxxl-table-cell.admin-table__item_right
									span.admin-table__sort
										span.admin-table__sort-up
										span.admin-table__sort-down
									|Rows

								th.admin-table__item.admin-table__item_menu

					section.empty-table
						.container-fluid
							.row
								.col-12
									.empty-table__content
										.empty-table__head Nothing matches your search
										.empty-table__text Try using the filters or search different keywords

										.empty-table__img
											img(src="assets/img/import-file-empty.png", alt="")