extends ../layout/main

block variables
	- var title = 'Imported files';
	- var body_scroll = 'false';
	//- - var h1 = 'Imported files';

block content
	include ../components/import-file

	section.admin-table-wrap
		.container-fluid
			.row
				.col-12
					.admin-table-wrap__action
						+formSearch('d-md-none')

						.admin-table-wrap__col
							a.btn(href='#')
								+svg('ic-plus','ic-plus')
								|New File

						.admin-table-wrap__col
							-
								var tabs=[
									{name:'All', link:'#'},
									{name:'Last Month', name_sort:'M', link:'#'},
									{name:'Last Week', name_sort:'W', link:'#'},
								];

							+tabsPage(tabs)

							+formSearch('d-none d-md-block')

					table.admin-table
						thead
							tr.admin-table__head
								th.admin-table__item
									.admin-table__head
										span.admin-table__sort
											span.admin-table__sort-up
											span.admin-table__sort-down
										|Name

								th.admin-table__item.d-none.d-md-table-cell
									.admin-table__head
										span.admin-table__sort.admin-table__sort_desk
											span.admin-table__sort-up
											span.admin-table__sort-down
										|Loaded

								th.admin-table__item.d-none.d-md-table-cell
									.admin-table__head
										span.admin-table__sort
											span.admin-table__sort-up
											span.admin-table__sort-down
										|Environment

										+adminTableFilter()

								th.admin-table__item.d-none.d-lg-table-cell
									.admin-table__head
										span.admin-table__sort
											span.admin-table__sort-up
											span.admin-table__sort-down
										|Permission Group

										.admin-table-filter
											.admin-table-filter__icon
												span.ic-hover
													+svg('ic-filter','ic-filter ic-stroke')

								th.admin-table__item.d-none.d-xl-table-cell
									.admin-table__head
										|User

										.admin-table-filter
											.admin-table-filter__icon
												span.ic-hover
													+svg('ic-filter','ic-filter ic-stroke')

								th.admin-table__item.d-none.d-md-table-cell
									.admin-table__head
										|Shared

								th.admin-table__item.d-none.d-xxl-table-cell
									.admin-table__head Columns

								th.admin-table__item.d-none.d-xxl-table-cell
									.admin-table__head
										span.admin-table__sort
											span.admin-table__sort-up
											span.admin-table__sort-down
										|Rows

								th.admin-table__item

						-
							var rows = [
								{
									row:{selected:''},
									name:{title:'d-Stroke for a very very long descriptiond-Stroke for a  very very long file name'},
									fields:[
										{title:'Nov 26, 2019', class:'d-none d-md-table-cell'},
										{title:'R Test Project', class:'d-none d-md-table-cell'},
										{title:'all_r_files', class:'d-none d-lg-table-cell'},
										{title:'Ruth', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'~9,999', class:'d-none d-xxl-table-cell'},
										{title:'~99,999,999', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										notice:'ic-business-warning',
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:'active'},
									name:{title:'StrokeSmall.csv'},
									fields:[
										{title:'Nov 12, 2019', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'Noa', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'~1,929', class:'d-none d-xxl-table-cell'},
										{title:'~19,999,999', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'d-Stroke.csv'},
									fields:[
										{title:'Oct 22, 2019', class:'d-none d-md-table-cell'},
										{title:'R Test Project', class:'d-none d-md-table-cell'},
										{title:'all_r_files', class:'d-none d-lg-table-cell'},
										{title:'Ruth', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'~3,341', class:'d-none d-xxl-table-cell'},
										{title:'~58,879,999', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'20180813_134819_20180726_21210'},
									fields:[
										{title:'Oct 22, 2019', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'mdclone.admin', class:'d-none d-xl-table-cell'},
										{icon:'ic-shared', class:'d-none d-md-table-cell'},
										{title:'~9,656', class:'d-none d-xxl-table-cell'},
										{title:'~62,991,991', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'DM-Tests - 2 date formats in t'},
									fields:[
										{title:'Oct 10, 2019', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'mdclone.admin', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'~9,991', class:'d-none d-xxl-table-cell'},
										{title:'~29,999,999', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'BMsession11M_2018-11-12_100000'},
									fields:[
										{title:'Oct 7, 2019', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'mdclone.admin', class:'d-none d-xl-table-cell'},
										{icon:'ic-shared', class:'d-none d-md-table-cell'},
										{title:'~8,888', class:'d-none d-xxl-table-cell'},
										{title:'~10,999,999', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'01234567890123456789012345678954645645601890123456789012345678954645645601',tooltip:'show'},
									fields:[
										{title:'Feb 17, 2019', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'mdclone.admin', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'~7,214', class:'d-none d-xxl-table-cell'},
										{title:'1,847,464', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'BTL-short2-Real.csv'},
									fields:[
										{title:'Feb 7, 2019', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'mdclone.admin', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'316,3', class:'d-none d-xxl-table-cell'},
										{title:'1,847,464', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'[1730][Customized][admin][if_9'},
									fields:[
										{title:'Dec 13, 2018', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'admin', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'~9,900', class:'d-none d-xxl-table-cell'},
										{title:'1,247,464', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
								{
									row:{selected:''},
									name:{title:'BTL-short2-Real.csv'},
									fields:[
										{title:'Feb 7, 2019', class:'d-none d-md-table-cell'},
										{title:'Demo Project', class:'d-none d-md-table-cell'},
										{title:'Demo Template', class:'d-none d-lg-table-cell'},
										{title:'mdclone.admin', class:'d-none d-xl-table-cell'},
										{class:'d-none d-md-table-cell'},
										{title:'~9,875', class:'d-none d-xxl-table-cell'},
										{title:'5,590,000', class:'d-none d-xxl-table-cell'},
									],
									menu:{
										icons:[
											{img:'ic-edit', text:'Edit File Settings'},
											{img:'ic-view', text:'View Output Summary', disable:'true'},
										]
									}
								},
							];
						+adminTableRow(rows)

					+pager('Showing 1-15 of 82 files')

					// form upload file
					+modalWindow('error','active')