extends ../layout/main

block variables
	- var title = 'Imported files';
	//- - var h1 = 'Imported files';

block content
	include ../components/import-file

	section.admin-table-wrap
		.container-fluid
			.row
				.col-12
					.admin-table-wrap__action
						+formSearch('d-md-none')

						.admin-table-wrap__col
							a.btn.btn_icon(href='#') + New File

						.admin-table-wrap__col
							-
								var tabs=[
									{name:'All', link:'#', active:'true'},
									{name:'Last Month', name_sort:'M', link:'#'},
									{name:'Last Week', name_sort:'W', link:'#'},
								];

							+tabsPage(tabs)

							+formSearch('d-none d-md-block')

					include ../components/import-file-table