extends ../layout/main

block variables
	- var title = 'Imported files';
	//- - var h1 = 'Imported files';

block content
	include ../components/import-file

	.import-file-empty
		section.empty-block
			.container-fluid
				.row
					.col-12
						a.btn.btn_icon(href='#') + New File

						.empty-block__head You can synthesize or manipulate your own data. Start by clicking the button above.
						.empty-block__text Your files will be listed here.

						.empty-block__img
							img(src="assets/img/imported-files-05.png", alt="", style="height: 360px;")