extends ../layout/main

block variables
	- var title = 'My Events';
	- var h1 = 'My Events';

block content
	section.query-wrap
		.container-fluid
			.row
				.col-12
					.admin-table-wrap
						.admin-table-wrap__action
							.admin-table-wrap__col
								.split-btn
									.split-btn__title + Combined Event
									.split-btn__arr
										+svg('ic-select-arr-down','ic-select-arr-down')

									.split-btn__popup
										.split-btn__item Action number 00001
										.split-btn__item Action number 00002
										.split-btn__item Action number 00003
										.split-btn__item Action number 00004

							.admin-table-wrap__col
								+formSearch('d-none d-md-block','Search…')


						table.admin-table.admin-table_red
							thead
								tr.admin-table__head
									th.admin-table__item
										.admin-table__head
											span.admin-table__sort
												span.admin-table__sort-up
												span.admin-table__sort-down
											|Name

									th.admin-table__item.d-none.d-md-table-cell
										.admin-table__head
											span.admin-table__sort.admin-table__sort_asc
												span.admin-table__sort-up
												span.admin-table__sort-down
											|Modified

									th.admin-table__item.d-none.d-md-table-cell
										.admin-table__head
											span.admin-table__sort
												span.admin-table__sort-up
												span.admin-table__sort-down
											|Generated

									th.admin-table__item.d-none.d-lg-table-cell.admin-table__item_center
										.admin-table__head
											|Event Type

									th.admin-table__item.d-none.d-lg-table-cell
										.admin-table__head
											|Status

									th.admin-table__item

							-
								var rows=[
									{
										row:{selected:''},
										name:{title:'eGFR and calculated CKD'},
										fields:[
											{title:'Nov 7, 2019', class:'d-none d-md-table-cell'},
											{title:'Nov 21, 2010', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-running', title:'Generating', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'eGFR'},
										fields:[
											{title:'Oct 8, 2019', class:'d-none d-md-table-cell'},
											{title:'Nov 5, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center', tooltip_icon:'Combined event - type ‘OR’', tooltip_status:'show'},
											{icon:'ic-success', title:'Active', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'CKD patient list provided by Shibe'},
										fields:[
											{title:'Sep 8, 2019', class:'d-none d-md-table-cell'},
											{title:'Oct 8, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-failure', title:'Failed', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'CKD and Diabetes (Type 1) - example of very very long name'},
										fields:[
											{title:'Sep 10, 2019', class:'d-none d-md-table-cell'},
											{title:'Sep 11, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-upload', class:'d-none d-lg-table-cell admin-table__item_center', tooltip_icon:'Uploaded population event', tooltip_status:'show'},
											{icon:'ic-running', title:'Generating', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'eGFR and calculated CKD'},
										fields:[
											{title:'Aug 21, 2019', class:'d-none d-md-table-cell'},
											{title:'Sep 10, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-running', title:'Generating', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'eGFR'},
										fields:[
											{title:'Aug 8, 2019', class:'d-none d-md-table-cell'},
											{title:'Aug 26, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-or', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-success', title:'Active', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'CKD patient list provided by Shibe'},
										fields:[
											{title:'Jul 5, 2019', class:'d-none d-md-table-cell'},
											{title:'Aug 4, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-success', title:'Active', class:'d-none d-lg-table-cell'},
										],
										menu:{
											popup:'active',
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'CKD and Diabetes (Type 1) - example of long name'},
										fields:[
											{title:'Jul 4, 2019', class:'d-none d-md-table-cell'},
											{title:'Jul 11, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-success', title:'Generating', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'eGFR and calculated CKD'},
										fields:[
											{title:'Jun 2, 2019', class:'d-none d-md-table-cell'},
											{title:'Jun 10, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-or', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-success', title:'Generating', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'eGFR'},
										fields:[
											{title:'May 21, 2019', class:'d-none d-md-table-cell'},
											{title:'Jun 10, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-or', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-success', title:'Active', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'eGFR and calculated CKD'},
										fields:[
											{title:'Jun 2, 2019', class:'d-none d-md-table-cell'},
											{title:'Jun 10, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-success', title:'Generating', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
									{
										row:{selected:''},
										name:{title:'eGFR'},
										fields:[
											{title:'May 21, 2019', class:'d-none d-md-table-cell'},
											{title:'Jun 10, 2019', class:'d-none d-md-table-cell'},
											{icon:'ic-and', class:'d-none d-lg-table-cell admin-table__item_center'},
											{icon:'ic-success', title:'Active', class:'d-none d-lg-table-cell'},
										],
										menu:{
											icons:[
												{img:'ic-edit', text:'Edit'},
												{img:'ic-duplicate', text:'Duplicate'},
												{img:'ic-send', text:'Send'},
											]
										}
									},
								];

							+adminTableRow(rows)

					+pager('Showing 1-12 of 38 events')