extends ../layout/main

block variables
	- var title = 'Output history report';
	//- - var h1 = 'Output history report';

block content
	include ../components/ouput-history-top

	section.admin-table-wrap
		.container-fluid
			.row
				.col-12
					.admin-table-wrap__action
						+formSearch('d-md-none')

						.admin-table-wrap__col
							a(href='#').link-load
								span.ic-hover
									+svg('ic-download','ic-download')
								span.link-load__text Download Report

						.admin-table-wrap__col
							-
								var tabs=[
									{name:'All', link:'#', active:'true'},
									{name:'Last 30 Days', name_sort:'30D', link:'#'},
									{name:'Last 7 Days', name_sort:'7D', link:'#'},
									{name:'Specific', name_sort:'S', link:'#', popup_date:'true'},
								];

							+tabsPage(tabs)

							+formSearch('d-none d-md-block')

					include ../components/ouput-history-table