extends ../layout/main

block variables
	- var title = 'Typography';
	- var h1 = 'Tabs';

block content
	section
		.container-fluid
			.row
				.col-12
					-
						var tabs=[
							{name:'All', link:'#', active:'true'},
							{name:'Last Month', name_sort:'M', link:'#'},
							{name:'Last Week', name_sort:'W', link:'#'},
							{name:'Last Day', name_sort:'D', link:'#'},
						];

					+tabsPage(tabs)
