extends ../layout/main

block variables
	- var title = 'Typography';
	- var h1 = 'Icons';

block content
	section
		.container-fluid
			.row
				.col-12
					div(style="background: #5303a8; padding: 10px;")
						.type-icon.type-icon_white
							.type-icon__item
								.type-icon__img
									+svg('notice','notice')
								.type-icon__name notice

							.type-icon__item
								.type-icon__img
									+svg('notice-active','notice-active')
								.type-icon__name notice-active

							.type-icon__item
								.type-icon__img(style="margin-top: 6px; margin-bottom: 6px;")
									+svg('ic-hamburger','ic-hamburger')
								.type-icon__name ic-hamburger

							.type-icon__item
								.type-icon__img(style="margin-top: 6px; margin-bottom: 6px;")
									+svg('ic-hamburger-arrow','ic-hamburger-arrow')
								.type-icon__name ic-hamburger-arrow
						


					br
					br
					.type-icon
						.type-icon__item
							.type-icon__img
								+svg('ic-plus','ic-plus')
							.type-icon__name ic-plus

						.type-icon__item
							.type-icon__img
								+svg('ic-search','ic-search')
							.type-icon__name ic-search

						.type-icon__item
							.type-icon__img
								+svg('ic-filter','ic-filter ic-stroke')
							.type-icon__name ic-filter ic-stroke

						.type-icon__item
							.type-icon__img
								+svg('ic-filter','ic-filter')
							.type-icon__name ic-filter

						.type-icon__item
							.type-icon__img
								+svg('ic-business-warning','ic-business-warning')
							.type-icon__name ic-business-warning

						.type-icon__item
							.type-icon__img
								+svg('ic-failure','ic-failure')
							.type-icon__name ic-failure
							
						.type-icon__item
							.type-icon__img
								+svg('ic-warning','ic-warning')
							.type-icon__name ic-warning

						.type-icon__item
							.type-icon__img
								+svg('ic-success','ic-success')
							.type-icon__name ic-success
						.type-icon__item
							.type-icon__img
								+svg('ic-running','ic-running')
							.type-icon__name ic-running
						.type-icon__item
							.type-icon__img
								+svg('ic-error','ic-error')
							.type-icon__name ic-error
				
						.type-icon__item
							.type-icon__img
								+svg('ic-shared','ic-shared')
							.type-icon__name ic-shared

						.type-icon__item
							.type-icon__img
								+svg('ic-key','ic-key')
							.type-icon__name ic-key

						.type-icon__item
							.type-icon__img
								+svg('ic-data','ic-data')
							.type-icon__name ic-data

						.type-icon__item
							.type-icon__img
								+svg('ic-upload','ic-upload')
							.type-icon__name ic-upload

						.type-icon__item
							.type-icon__img
								+svg('ic-check','ic-check')
							.type-icon__name ic-check

						.type-icon__item
							.type-icon__img
								+svg('ic-close','ic-close')
							.type-icon__name ic-close ic-stroke

						.type-icon__item
							.type-icon__img
								+svg('ic-close-circle','ic-close-circle')
							.type-icon__name ic-close-circle

						.type-icon__item
							.type-icon__img
								+svg('ic-info','ic-info')
							.type-icon__name ic-info

						.type-icon__item
							.type-icon__img
								+svg('ic-help','ic-help')
							.type-icon__name ic-help

						.type-icon__item
							.type-icon__img
								+svg('ic-synthetic-data','ic-synthetic-data')
							.type-icon__name ic-synthetic-data

						.type-icon__item
							.type-icon__img
								+svg('ic-dot-menu','ic-dot-menu')
							.type-icon__name ic-dot-menu

						.type-icon__item
							.type-icon__img
								+svg('ic-pager-arr-left','ic-pager-arr-left')
							.type-icon__name ic-pager-arr-left

						.type-icon__item
							.type-icon__img
								+svg('ic-pager-arr-right','ic-pager-arr-right')
							.type-icon__name ic-pager-arr-right

						.type-icon__item
							.type-icon__img
								+svg('ic-select-arr-down','ic-select-arr-down')
							.type-icon__name ic-select-arr-down

						.type-icon__item
							.type-icon__img
								+svg('ic-edit','ic-edit')
							.type-icon__name ic-edit

						.type-icon__item
							.type-icon__img
								+svg('ic-review-and-edit','ic-review-and-edit')
							.type-icon__name ic-review-and-edit

						.type-icon__item
							.type-icon__img
								+svg('ic-view','ic-view')
							.type-icon__name ic-view

						.type-icon__item
							.type-icon__img
								+svg('ic-duplicate','ic-duplicate')
							.type-icon__name ic-duplicate

						.type-icon__item
							.type-icon__img
								+svg('ic-download','ic-download')
							.type-icon__name ic-download

						.type-icon__item
							.type-icon__img
								+svg('ic-share','ic-share')
							.type-icon__name ic-share

						.type-icon__item
							.type-icon__img
								+svg('ic-quality','ic-quality')
							.type-icon__name ic-quality

						.type-icon__item
							.type-icon__img
								+svg('ic-send','ic-send')
							.type-icon__name ic-send

						.type-icon__item
							.type-icon__img
								+svg('ic-remove','ic-remove')
							.type-icon__name ic-remove

						.type-icon__item
							.type-icon__img
								+svg('ic-delete','ic-delete')
							.type-icon__name ic-delete

						.type-icon__item
							.type-icon__img
								+svg('ic-external-link','ic-external-link')
							.type-icon__name ic-external-link

						.type-icon__item
							.type-icon__img
								+svg('ic-numeric','ic-numeric')
							.type-icon__name ic-numeric

						.type-icon__item
							.type-icon__img
								+svg('ic-textual','ic-textual')
							.type-icon__name ic-textual

						.type-icon__item
							.type-icon__img
								+svg('ic-calendar','ic-calendar')
							.type-icon__name ic-calendar

						.type-icon__item
							.type-icon__img
								+svg('ic-and','ic-and')
							.type-icon__name ic-and

						.type-icon__item
							.type-icon__img
								+svg('ic-or','ic-or')
							.type-icon__name ic-or

						.type-icon__item
							.type-icon__img
								+svg('ic-bulb','ic-bulb')
							.type-icon__name ic-bulb

						.type-icon__item
							.type-icon__img
								+svg('ic-back-to-page','ic-back-to-page')
							.type-icon__name ic-back-to-page

						.type-icon__item
							.type-icon__img
								+svg('ic-next-to-page','ic-next-to-page')
							.type-icon__name ic-next-to-page

						.type-icon__item
							.type-icon__img
								+svg('ic-view-tutorials','ic-view-tutorials')
							.type-icon__name ic-view-tutorials

						.type-icon__item
							.type-icon__img
								+svg('ic-live-help','ic-live-help')
							.type-icon__name ic-live-help

						.type-icon__item
							.type-icon__img
								+svg('ic-add-help','ic-add-help')
							.type-icon__name ic-add-help

						.type-icon__item
							.type-icon__img
								+svg('ic-setting','ic-setting')
							.type-icon__name ic-setting

						.type-icon__item
							.type-icon__img
								+svg('ic-logout','ic-logout')
							.type-icon__name ic-logout

						.type-icon__item
							.type-icon__img
								+svg('ic-plug','ic-plug')
							.type-icon__name ic-plug

						.type-icon__item
							.type-icon__img
								+svg('ic-robot','ic-robot')
							.type-icon__name ic-robot

						.type-icon__item
							.type-icon__img
								+svg('ic-replace','ic-replace')
							.type-icon__name ic-replace

						.type-icon__item
							.type-icon__img
								+svg('ic-reload','ic-reload')
							.type-icon__name ic-reload

						.type-icon__item
							.type-icon__img
								+svg('ic-update','ic-update')
							.type-icon__name ic-update

						.type-icon__item
							.type-icon__img
								+svg('ic-csv','ic-csv')
							.type-icon__name ic-csv

						.type-icon__item
							.type-icon__img
								+svg('ic-user-notice-empty','ic-user-notice-empty')
							.type-icon__name ic-user-notice-empty

						.type-icon__item
							.type-icon__img
								+svg('ic-user-notice-full','ic-user-notice-full')
							.type-icon__name ic-user-notice-full

						.type-icon__item
							.type-icon__img
								+svg('ic-share-view','ic-share-view')
							.type-icon__name ic-share-view

						.type-icon__item
							.type-icon__img
								+svg('ic-measurement','ic-measurement')
							.type-icon__name ic-measurement

						.type-icon__item
							.type-icon__img
								+svg('ic-labs','ic-labs')
							.type-icon__name ic-labs

						.type-icon__item
							.type-icon__img
								+svg('ic-procedures','ic-procedures')
							.type-icon__name ic-procedures

						.type-icon__item
							.type-icon__img
								+svg('ic-medications','ic-medications')
							.type-icon__name ic-medications

						.type-icon__item
							.type-icon__img
								+svg('ic-admissions','ic-admissions')
							.type-icon__name ic-admissions

						.type-icon__item
							.type-icon__img
								+svg('ic-diagnosis','ic-diagnosis')
							.type-icon__name ic-diagnosis

						.type-icon__item
							.type-icon__img
								+svg('ic-my-events','ic-my-events')
							.type-icon__name ic-my-events

						.type-icon__item
							.type-icon__img
								+svg('ic-default-date','ic-default-date')
							.type-icon__name ic-default-date

						.type-icon__item
							.type-icon__img
								+svg('ic-megaphone','ic-megaphone')
							.type-icon__name ic-megaphone

						.type-icon__item
							.type-icon__img
								+svg('ic-patient-story','ic-patient-story')
							.type-icon__name ic-patient-story

						.type-icon__item
							.type-icon__img
								+svg('ic-imported-file','ic-imported-file')
							.type-icon__name ic-imported-file

						.type-icon__item
							.type-icon__img
								+svg('ic-categorization','ic-categorization')
							.type-icon__name ic-categorization

						.type-icon__item
							.type-icon__img
								+svg('ic-nancy','ic-nancy')
							.type-icon__name ic-nancy

						.type-icon__item
							.type-icon__img
								+svg('ic-lillie','ic-lillie')
							.type-icon__name ic-lillie

						.type-icon__item
							.type-icon__img
								+svg('ic-christian','ic-christian')
							.type-icon__name ic-christian

						.type-icon__item
							.type-icon__img
								+svg('ic-gabriel','ic-gabriel')
							.type-icon__name ic-gabriel

						.type-icon__item
							.type-icon__img
								+svg('ic-craig','ic-craig')
							.type-icon__name ic-craig

