extends ../layout/main

block variables
	- var title = 'Typography';
	- var h1 = 'Typography';

block content
	section
		.container-fluid
			.row
				.col-12
					p
						a(href='#') This is a standard link

					p Redtooth triggerfish jewel tetra sockeye salmon, snake mackerel plownose chimaera slimehead firefish taimen. Barbeled dragonfish codling wolffish giant sea bass.
					p Armored gurnard wahoo burma danio bream eagle ray grass carp Bombay duck bleak mudsucker; sandfish kahawai. Dory plunderfish bullhead starry flounder tubeshoulder bala shark southern flounder Antarctic icefish Sacramento blackfish deep sea anglerfish. Spiny dogfish, milkfish, steelhead piranha; snake eel sailfin silverside. Requiem shark yellow moray ribbon eel ziege, "African glass catfish pigfish bull trout bristlemouth Sundaland noodlefish." Manta Ray dory, whitefish: angler catfish wrasse grunt sculpin eel cod paradise fish. Minnow--Blind shark; Mexican golden trout Norwegian Atlantic salmon tripletail mouthbrooder, dusky grouper buffalofish goby sharksucker, yellowfin surgeonfish white marlin nurse shark. Rock cod, pollyfish murray cod goldfish.
					p Pleco muskellunge wels catfish seatrout redmouth whalefish? Snipe eel Dolly Varden trout, torrent catfish sea toad eel tadpole cod bonito mrigal lefteye flounder.

					br
					br
					.h2 Additional classes for text
					p <span class="code">text-left</span> text align left
					p <span class="code">text-center</span> text align center
					p <span class="code">text-right</span> text align right
					p <span class="code">text-justify</span> text align across the width
					p <span class="code">text-uppercase</span> text uppercase
					p <span class="code">text-bold</span> text bold

					br
					br
					.h2 Headers
					h1 Header - h1
					h2 Header - h2
					h3 Header - h3
					h4 Header - h4
					h5 Header - h5
					h6 Header - h6

					br
					p.h1 The class is called h1
					p.h2 The class is called h2
					p.h3 The class is called h3
					p.h4 The class is called h4
					p.h5 The class is called h5
					p.h6 The class is called h6
					p.h7 The class is called h7
					p.h8 The class is called h8

					br
					br
					.h2 Buttons
					a.btn(href='#') Button
					a.btn.btn_disable(href='#') Button
					br
					br
					a.btn.btn_border(href='#') Button
					a.btn.btn_border.btn_disable(href='#') Button
					br
					br
					a.btn.btn_icon(href='#') + Button
					a.btn.btn_disable.btn_icon(href='#') + Button

					br
					br
					a.btn.btn_small(href='#') Button
					a.btn.btn_small.btn_disable(href='#') Button
					br
					br
					a.btn.btn_small.btn_border(href='#') Button
					a.btn.btn_small.btn_border.btn_disable(href='#') Button

					br
					br
					.split-btn
						.split-btn__title New Event
						.split-btn__arr
							+svg('ic-select-arr-down','ic-select-arr-down')

						.split-btn__popup
							.split-btn__item Action number 00001
							.split-btn__item Action number 00002
							.split-btn__item Action number 00003
							.split-btn__item Action number 00004

					br
					br
					div(style="background: #0d1e42; padding: 10px;")
						a.btn.btn_border.btn_grey(href='#') Button


					br
					br
					.h2 Tabs
					-
						var tabs=[
							{name:'All', link:'#', active:'true'},
							{name:'Last Month', name_sort:'M', link:'#'},
							{name:'Last Week', name_sort:'W', link:'#'},
							{name:'Last Day', name_sort:'D', link:'#'},
						];

					+tabsPage(tabs)

					br
					br
					.h2 Form search
					+formSearch()

					br
					div(style="background: #0d1e42; padding: 10px;")
						+formSearch('form-search_white')

					br
					br
					.h2 Checkbox
					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Text

					.input-check
						input#param10(type='checkbox', name='param10', disabled="disabled")
						label.input-check__label(for='param10')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Text

					.input-check.input-check_all
						input#param11(type='checkbox', name='param11', checked="checked")
						label.input-check__label(for='param11')
							span.input-check__mark
							span.input-check__text Select All

					br
					br
					.h2 Tooltip
					span.tooltip
						span.tooltip__content Lorem Ipsum is simply dummy text of the printing and typesetting industry.

					br
					br
					span.tooltip.tooltip_left
						span.tooltip__content Lorem Ipsum is simply dummy text of the printing and typesetting industry.

					br
					br
					span.tooltip
						span.tooltip__content Initial Cohort was 2,345

					br
					br
					span.tooltip.tooltip_left
						span.tooltip__content Initial Cohort was 2,345
					br
					br
					span.tooltip.tooltip_right
						span.tooltip__content Initial Cohort was 2,345

					br
					br
					span.tooltip.tooltip_top
						span.tooltip__content Initial Cohort was 2,345

					br
					br
					span.tooltip.tooltip_red
						span.tooltip__content Initial Cohort was 2,345
					
					br
					br
					.h2 Switch
					.switch
						input(type="checkbox", id="switch1")
						label.switch__content(for="switch1")
							.switch__marker
							.switch__on Yes
							.switch__off No

					br
					br
					.switch
						input(type="checkbox", id="switch2", disabled="disabled")
						label.switch__content(for="switch2")
							.switch__marker
							.switch__on Yes
							.switch__off No

					br
					br
					.switch
						input(type="checkbox", id="switch3", disabled="disabled", checked="checked")
						label.switch__content(for="switch3")
							.switch__marker
							.switch__on Yes
							.switch__off No

					br
					br
					.h2 Switch icons
					.switch-icon
						.switch-icon__item
							+svg('ic-numeric','ic-numeric')

						.switch-icon__item.active
							+svg('ic-textual','ic-textual')

						.switch-icon__item.disable
							+svg('ic-calendar','ic-calendar')

					br
					br
					.h2 Input
					form.form-site(style="width: 250px;")
						input(type="text", placeholder="Text")
						br
						br
						input(type="text", placeholder="Text", disabled="disabled")
						br
						br
						input.input-small(type="text", placeholder="Text")

					br
					br
					.h2 Select
					.select
						.select__head.active Please Select...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param Parameter 3
							.select__param Parameter 4

					br
					br
					.select
						.select__head.active Parameter 3
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param.active Parameter 3
							.select__param Parameter 4


					br
					br
					.select.disable
						.select__head Please Select...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param Parameter 3
							.select__param Parameter 4

					br
					br
					.select.select_small
						.select__head Please Select...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param.active Parameter 3
							.select__param Parameter 4

					br
					br
					.select
						.select__head.active
							.select__icon-wrap
								+svg('ic-share-view','ic-share-view')
								span.select__head-text View
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active
								.select__icon-wrap
									+svg('ic-share-view','ic-share-view')
									|View
							.select__param
								.select__icon-wrap
									+svg('ic-edit','ic-edit')
									|Edit

					br
					br
					|Select autocomplite
					br
					.select
						.select__head.active
							.select__search
								input(type="text", value="ja", placeholder="Type the person's name...",)
								span.select__search-close
									+svg('ic-close-small','ic-close-small')
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param <span class="select__accent">Ja</span>ck Black
							.select__param <span class="select__accent">Ja</span>ck Nicholson
							.select__param Johnson <span class="select__accent">Ja</span>ck
							.select__param White <span class="select__accent">Ja</span>mes

					br
					br
					.h2 System Notifications
					.system-notice
						span.system-notice__icon
							+svg('ic-running','ic-running')
						span.system-notice__text NLP engine started running on source collection

					br
					br
					.system-notice
						span.system-notice__icon
							+svg('ic-success','ic-success')

						span.system-notice__text Model saved successfully
					br
					br
					.system-notice.system-notice_red
						span.system-notice__icon
							+svg('ic-error','ic-error')

						span.system-notice__text Something failed

					br
					br
					.h2 Progress
					.progress
						.progress__bg
						.progress__text 0%

					br
					.progress.progress_red
						.progress__bg(style='width: 25%')
						.progress__text 25%

					br
					.progress.progress_yellow
						.progress__bg(style='width: 50%')
						.progress__text 50%

					br
					.progress.progress_green
						.progress__bg(style='width: 75%')
						.progress__text 75%

					br
					br
					.h2 Tag
					.tag Admin
					br
					.tag.tag_green Superadmin

					br
					br
					br
					.h2 Information Balloon
					.info-popup(style="width: 395px;")
						form.form-site
							.info-popup__top
								.info-popup__head-wrap
									span.info-popup__head File Sharing

								.info-popup__close
									+svg('ic-close-circle','ic-close-circle')

							.info-popup__content
								.info-popup-switch
										.info-popup-switch__content
											.info-popup-switch__icon
												+svg('ic-shared','ic-shared')

											.info-popup-switch__text-wrap
												.info-popup-switch__title File is shared.
												.info-popup-switch__text It can be viewed and used by everyone.

										.switch
											input(type="checkbox", id="switch10", checked="checked")
											label.switch__content(for="switch10")
												.switch__marker
												.switch__on Yes
												.switch__off No
										


							.info-popup__btn
								a(href="#").btn.btn_border.btn_small Cancel
								input(type="submit", value="Apply").btn.btn_small

					br
					br
					.info-popup
						form.form-site
							.info-popup__top
								.info-popup__head-wrap
									span.info-popup__head Hierarchy Description
									span.info-popup__option Optional

								.info-popup__close
									+svg('ic-close-circle','ic-close-circle')

							.info-popup__content
								.info-popup__fields
									textarea(placeholder="Type Description that will help you understand more about this hierarchy")

							.info-popup__btn
								a(href="#").btn.btn_border.btn_small Cancel
								input(type="submit", value="Save").btn.btn_small

					br
					br
					.info-popup.info-popup_right(style="width: 295px;")
						form.form-site
							.info-popup__top
								.info-popup__head-wrap
									span.info-popup__head Hierarchy structure mismatch

								.info-popup__close
									+svg('ic-close-circle','ic-close-circle')

							.info-popup__content
								.info-popup__text-wrap
									.info-popup__text
										P The hierarchy structure was manually changed and no longer match the previous one. 
										P After the issue was fixed by the ETL owner, turn off the toggle below to restart the auto-update.

								.info-popup-switch
									.info-popup-switch__content
										.info-popup-switch__text-wrap
											.info-popup-switch__title Hold Automatic loading

									.switch
										input(type="checkbox", id="switch4", checked="checked")
										label.switch__content(for="switch4")
											.switch__marker
											.switch__on On
											.switch__off Off

					br
					br
					.info-popup.info-popup_right(style="width: 268px;")
						.info-popup__top
							.info-popup__head-wrap
								span.info-popup__head Used in

							.info-popup__close
								+svg('ic-close-circle','ic-close-circle')

						.info-popup__content
							.info-popup__text-wrap
								.info-popup__title Events:
								.info-popup__text Diagnosis, Admission Diagnosis, Procedures, Customised events

					br
					br
					.info-popup.info-popup_right.info-popup_bottom(style="width: 276px;")
						form.form-site
							.info-popup__top
								.info-popup__head-wrap
									span.info-popup__head Missing old categories

								.info-popup__close
									+svg('ic-close-circle','ic-close-circle')

							.info-popup__content
								|- Type of route<br>
								|- Pharmacological subgroup ATC3<br>
								|- Manufacturer 


					br
					br
					br
					.h2 Icons
					div(style="background: #5303a8; padding: 10px;")
						.type-icon.type-icon_white
							.type-icon__item
								.type-icon__img
									+svg('notice','notice')
								.type-icon__name notice

							.type-icon__item
								.type-icon__img
									+svg('notice-active','notice-active')
								.type-icon__name notice-active

							.type-icon__item
								.type-icon__img(style="margin-top: 6px; margin-bottom: 6px;")
									+svg('ic-hamburger','ic-hamburger')
								.type-icon__name ic-hamburger

							.type-icon__item
								.type-icon__img(style="margin-top: 6px; margin-bottom: 6px;")
									+svg('ic-hamburger-arrow','ic-hamburger-arrow')
								.type-icon__name ic-hamburger-arrow
						


					br
					br
					.type-icon
						.type-icon__item
							.type-icon__img
								+svg('ic-plus','ic-plus')
							.type-icon__name ic-plus

						.type-icon__item
							.type-icon__img
								+svg('ic-search','ic-search')
							.type-icon__name ic-search

						.type-icon__item
							.type-icon__img
								+svg('ic-filter','ic-filter ic-stroke')
							.type-icon__name ic-filter ic-stroke

						.type-icon__item
							.type-icon__img
								+svg('ic-filter','ic-filter')
							.type-icon__name ic-filter

						.type-icon__item
							.type-icon__img
								+svg('ic-business-warning','ic-business-warning')
							.type-icon__name ic-business-warning

						.type-icon__item
							.type-icon__img
								+svg('ic-failure','ic-failure')
							.type-icon__name ic-failure
							
						.type-icon__item
							.type-icon__img
								+svg('ic-warning','ic-warning')
							.type-icon__name ic-warning

						.type-icon__item
							.type-icon__img
								+svg('ic-success','ic-success')
							.type-icon__name ic-success
						.type-icon__item
							.type-icon__img
								+svg('ic-running','ic-running')
							.type-icon__name ic-running
						.type-icon__item
							.type-icon__img
								+svg('ic-error','ic-error')
							.type-icon__name ic-error
				
						.type-icon__item
							.type-icon__img
								+svg('ic-shared','ic-shared')
							.type-icon__name ic-shared

						.type-icon__item
							.type-icon__img
								+svg('ic-key','ic-key')
							.type-icon__name ic-key

						.type-icon__item
							.type-icon__img
								+svg('ic-data','ic-data')
							.type-icon__name ic-data

						.type-icon__item
							.type-icon__img
								+svg('ic-upload','ic-upload')
							.type-icon__name ic-upload

						.type-icon__item
							.type-icon__img
								+svg('ic-check','ic-check')
							.type-icon__name ic-check

						.type-icon__item
							.type-icon__img
								+svg('ic-close','ic-close')
							.type-icon__name ic-close ic-stroke

						.type-icon__item
							.type-icon__img
								+svg('ic-close-circle','ic-close-circle')
							.type-icon__name ic-close-circle

						.type-icon__item
							.type-icon__img
								+svg('ic-info','ic-info')
							.type-icon__name ic-info

						.type-icon__item
							.type-icon__img
								+svg('ic-help','ic-help')
							.type-icon__name ic-help

						.type-icon__item
							.type-icon__img
								+svg('ic-synthetic-data','ic-synthetic-data')
							.type-icon__name ic-synthetic-data

						.type-icon__item
							.type-icon__img
								+svg('ic-dot-menu','ic-dot-menu')
							.type-icon__name ic-dot-menu

						.type-icon__item
							.type-icon__img
								+svg('ic-pager-arr-left','ic-pager-arr-left')
							.type-icon__name ic-pager-arr-left

						.type-icon__item
							.type-icon__img
								+svg('ic-pager-arr-right','ic-pager-arr-right')
							.type-icon__name ic-pager-arr-right

						.type-icon__item
							.type-icon__img
								+svg('ic-select-arr-down','ic-select-arr-down')
							.type-icon__name ic-select-arr-down

						.type-icon__item
							.type-icon__img
								+svg('ic-edit','ic-edit')
							.type-icon__name ic-edit

						.type-icon__item
							.type-icon__img
								+svg('ic-review-and-edit','ic-review-and-edit')
							.type-icon__name ic-review-and-edit

						.type-icon__item
							.type-icon__img
								+svg('ic-view','ic-view')
							.type-icon__name ic-view

						.type-icon__item
							.type-icon__img
								+svg('ic-duplicate','ic-duplicate')
							.type-icon__name ic-duplicate

						.type-icon__item
							.type-icon__img
								+svg('ic-download','ic-download')
							.type-icon__name ic-download

						.type-icon__item
							.type-icon__img
								+svg('ic-share','ic-share')
							.type-icon__name ic-share

						.type-icon__item
							.type-icon__img
								+svg('ic-quality','ic-quality')
							.type-icon__name ic-quality

						.type-icon__item
							.type-icon__img
								+svg('ic-send','ic-send')
							.type-icon__name ic-send

						.type-icon__item
							.type-icon__img
								+svg('ic-remove','ic-remove')
							.type-icon__name ic-remove

						.type-icon__item
							.type-icon__img
								+svg('ic-delete','ic-delete')
							.type-icon__name ic-delete

						.type-icon__item
							.type-icon__img
								+svg('ic-external-link','ic-external-link')
							.type-icon__name ic-external-link

						.type-icon__item
							.type-icon__img
								+svg('ic-numeric','ic-numeric')
							.type-icon__name ic-numeric

						.type-icon__item
							.type-icon__img
								+svg('ic-textual','ic-textual')
							.type-icon__name ic-textual

						.type-icon__item
							.type-icon__img
								+svg('ic-calendar','ic-calendar')
							.type-icon__name ic-calendar

						.type-icon__item
							.type-icon__img
								+svg('ic-and','ic-and')
							.type-icon__name ic-and

						.type-icon__item
							.type-icon__img
								+svg('ic-or','ic-or')
							.type-icon__name ic-or

						.type-icon__item
							.type-icon__img
								+svg('ic-bulb','ic-bulb')
							.type-icon__name ic-bulb

						.type-icon__item
							.type-icon__img
								+svg('ic-back-to-page','ic-back-to-page')
							.type-icon__name ic-back-to-page

						.type-icon__item
							.type-icon__img
								+svg('ic-view-tutorials','ic-view-tutorials')
							.type-icon__name ic-view-tutorials

						.type-icon__item
							.type-icon__img
								+svg('ic-live-help','ic-live-help')
							.type-icon__name ic-live-help

						.type-icon__item
							.type-icon__img
								+svg('ic-add-help','ic-add-help')
							.type-icon__name ic-add-help

						.type-icon__item
							.type-icon__img
								+svg('ic-setting','ic-setting')
							.type-icon__name ic-setting

						.type-icon__item
							.type-icon__img
								+svg('ic-logout','ic-logout')
							.type-icon__name ic-logout

						.type-icon__item
							.type-icon__img
								+svg('ic-plug','ic-plug')
							.type-icon__name ic-plug

						.type-icon__item
							.type-icon__img
								+svg('ic-robot','ic-robot')
							.type-icon__name ic-robot

						.type-icon__item
							.type-icon__img
								+svg('ic-replace','ic-replace')
							.type-icon__name ic-replace

						.type-icon__item
							.type-icon__img
								+svg('ic-reload','ic-reload')
							.type-icon__name ic-reload

						.type-icon__item
							.type-icon__img
								+svg('ic-update','ic-update')
							.type-icon__name ic-update

						.type-icon__item
							.type-icon__img
								+svg('ic-csv','ic-csv')
							.type-icon__name ic-csv

						.type-icon__item
							.type-icon__img
								+svg('ic-user-notice-empty','ic-user-notice-empty')
							.type-icon__name ic-user-notice-empty

						.type-icon__item
							.type-icon__img
								+svg('ic-user-notice-full','ic-user-notice-full')
							.type-icon__name ic-user-notice-full

						.type-icon__item
							.type-icon__img
								+svg('ic-share-view','ic-share-view')
							.type-icon__name ic-share-view

