extends ../layout/main

block variables
	- var title = 'Typography';
	- var h1 = 'Typography';

block content
	section
		.container
			.row
				.col-12
					p
						a(href='#') This is a standard link

					p Redtooth triggerfish jewel tetra sockeye salmon, snake mackerel plownose chimaera slimehead firefish taimen. Barbeled dragonfish codling wolffish giant sea bass.
					p Armored gurnard wahoo burma danio bream eagle ray grass carp Bombay duck bleak mudsucker; sandfish kahawai. Dory plunderfish bullhead starry flounder tubeshoulder bala shark southern flounder Antarctic icefish Sacramento blackfish deep sea anglerfish. Spiny dogfish, milkfish, steelhead piranha; snake eel sailfin silverside. Requiem shark yellow moray ribbon eel ziege, "African glass catfish pigfish bull trout bristlemouth Sundaland noodlefish." Manta Ray dory, whitefish: angler catfish wrasse grunt sculpin eel cod paradise fish. Minnow--Blind shark; Mexican golden trout Norwegian Atlantic salmon tripletail mouthbrooder, dusky grouper buffalofish goby sharksucker, yellowfin surgeonfish white marlin nurse shark. Rock cod, pollyfish murray cod goldfish.
					p Pleco muskellunge wels catfish seatrout redmouth whalefish? Snipe eel Dolly Varden trout, torrent catfish sea toad eel tadpole cod bonito mrigal lefteye flounder.

					br
					br
					.h2 Additional classes for text
					p <span class="code">text-left</span> text align left
					p <span class="code">text-center</span> text align center
					p <span class="code">text-right</span> text align right
					p <span class="code">text-justify</span> text align across the width
					p <span class="code">text-uppercase</span> text uppercase
					p <span class="code">text-bold</span> text bold

					br
					br
					.h2 Headers
					h1 Header - h1
					h2 Header - h2
					h3 Header - h3
					h4 Header - h4
					h5 Header - h5
					h6 Header - h6

					br
					p.h1 The class is called h1
					p.h2 The class is called h2
					p.h3 The class is called h3
					p.h4 The class is called h4
					p.h5 The class is called h5
					p.h6 The class is called h6
					p.h7 The class is called h7
					p.h8 The class is called h8

					br
					br
					.h2 Buttons
					a.btn(href='#') Button
					a.btn.btn_disable(href='#') Button
					br
					br
					a.btn.btn_border(href='#') Button
					a.btn.btn_border.btn_disable(href='#') Button
					br
					br
					a.btn(href='#') 
						img(src="/assets/icon/ic-plus.svg", alt="")
						|Button
					a.btn.btn_disable(href='#')
						img(src="/assets/icon/ic-plus.svg", alt="")
						|Button

					br
					br
					a.btn.btn_small(href='#') Button
					a.btn.btn_small.btn_disable(href='#') Button
					br
					br
					a.btn.btn_small.btn_border(href='#') Button
					a.btn.btn_small.btn_border.btn_disable(href='#') Button

					br
					br
					.h2 Tabs
					-
						var tabs=[
							{name:'All', link:'#'},
							{name:'Last Month', name_sort:'M', link:'#'},
							{name:'Last Week', name_sort:'W', link:'#'},
							{name:'Last Day', name_sort:'D', link:'#'},
						];

					+tabsPage(tabs)

					br
					br
					.h2 Form search
					+formSearch()

					br
					div(style="background: #0d1e42; padding: 10px;")
						+formSearch('form-search_white')

					br
					br
					.h2 Checkbox
					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
							span.input-check__text Text

					br
					br
					.h2 Tooltip
					span.tooltip Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					br
					br
					span.tooltip.tooltip_left Initial Cohort was 2,345
					br
					br
					span.tooltip.tooltip_right Initial Cohort was 2,345
					br
					br
					span.tooltip.tooltip_top Initial Cohort was 2,345

					br
					br
					.h2 Switch
					.switch
						.switch__marker
						.switch__on Yes
						.switch__off No

					br
					br

					.switch.active
						.switch__marker
						.switch__on Yes
						.switch__off No

					br
					br
					.h2 Select
					.select
						.select__head Please Select...
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param.active Parameter 3
							.select__param Parameter 4

					br
					br
					.select.disable
						.select__head Please Select...
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param.active Parameter 3
							.select__param Parameter 4

					br
					br
					.h2 System Notifications
					.system-notice
						span.system-notice__icon
							img(src="assets/icon/ic-running.svg", alt="")
						span.system-notice__text NLP engine started running on source collection

					br
					br
					.system-notice
						span.system-notice__icon
							img(src="assets/icon/ic-success.svg", alt="")

						span.system-notice__text Model saved successfully
					br
					br
					.system-notice.system-notice_red
						span.system-notice__icon
							img(src="assets/icon/ic-error.svg", alt="")

						span.system-notice__text Something failed


					br
					br
					br
					.h2 Icons
					span.ic-hover
						img(src="assets/icon/ic-business-warning.svg", alt="")
					span(style="margin-left: 20px") Business Warning
					br
					br
					span.ic-hover
						img(src="assets/icon/ic-warning.svg", alt="")
					span(style="margin-left: 20px") Warning
					br
					br
					span.ic-hover
						img(src="assets/icon/ic-success.svg", alt="")
					span(style="margin-left: 20px") Success
					br
					br
					span.ic-hover
						img(src="assets/icon/ic-failure.svg", alt="")
					span(style="margin-left: 20px") Failure

					br
					br
					img(src="assets/icon/ic-edit.svg", alt="")
					span(style="margin-left: 20px") Edit Details
					br
					br
					img(src="assets/icon/ic-edit-grey.svg", alt="")
					span(style="margin-left: 20px") Edit Details disabled

					br
					br
					img(src="assets/icon/ic-duplicate.svg", alt="")
					span(style="margin-left: 20px") Duplicate
					br
					br
					img(src="assets/icon/ic-duplicate-grey.svg", alt="")
					span(style="margin-left: 20px") Duplicate disabled

					br
					br
					img(src="assets/icon/ic-remove.svg", alt="")
					span(style="margin-left: 20px") Delete
					br
					br
					img(src="assets/icon/ic-remove-grey.svg", alt="")
					span(style="margin-left: 20px") Delete disabled

					br
					br
					img(src="assets/icon/ic-view.svg", alt="")
					span(style="margin-left: 20px") View
					br
					br
					img(src="assets/icon/ic-view-grey.svg", alt="")
					span(style="margin-left: 20px") View disabled

					br
					br
					img(src="assets/icon/ic-external-link.svg", alt="")
					span(style="margin-left: 20px") Navigate to an external link
					br
					br
					img(src="assets/icon/ic-external-link-grey.svg", alt="")
					span(style="margin-left: 20px") Navigate to an external link disabled

					br
					br
					img(src="assets/icon/ic-numeric.svg", alt="")
					span(style="margin-left: 20px") Numeric
					br
					br
					img(src="assets/icon/ic-numeric-grey.svg", alt="")
					span(style="margin-left: 20px") Numeric disabled

					br
					br
					img(src="assets/icon/ic-textual.svg", alt="")
					span(style="margin-left: 20px") Textual
					br
					br
					img(src="assets/icon/ic-textual-grey.svg", alt="")
					span(style="margin-left: 20px") Textual disabled

					br
					br
					img(src="assets/icon/ic-calendar.svg", alt="")
					span(style="margin-left: 20px") Temporal (Time/Date)
					br
					br
					img(src="assets/icon/ic-calendar-grey.svg", alt="")
					span(style="margin-left: 20px") Temporal (Time/Date) disabled

					br
					br
					img(src="assets/icon/ic-and.svg", alt="")
					span(style="margin-left: 20px") ‘And' relation - Customised event
					br
					br
					img(src="assets/icon/ic-and-grey.svg", alt="")
					span(style="margin-left: 20px") ‘And' relation - Customised event disabled

					br
					br
					img(src="assets/icon/ic-or.svg", alt="")
					span(style="margin-left: 20px") ‘OR’ relation - Customised event
					br
					br
					img(src="assets/icon/ic-or-grey.svg", alt="")
					span(style="margin-left: 20px") ‘OR’ relation - Customised event disabled

					br
					br
					img(src="assets/icon/ic-synthetic-data.svg", alt="")
					span(style="margin-left: 20px") Synthetic Data
					br
					br
					img(src="assets/icon/ic-synthetic-data-grey.svg", alt="")
					span(style="margin-left: 20px") Synthetic Data disabled

