extends ../layout/main

block variables
	- var title = 'Typography';
	- var h1 = 'Select';

block content
	section
		.container-fluid
			.row
				.col-12
					.h2 Select
					.select
						.select__head.active Please Select...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param Parameter 3
							.select__param Parameter 4

					br
					br
					.select
						.select__head.active Parameter 3
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param.active Parameter 3
							.select__param Parameter 4


					br
					br
					.select.disable
						.select__head Please Select...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param Parameter 3
							.select__param Parameter 4

					br
					br
					.select.select_small
						.select__head Please Select...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Parameter 1
							.select__param Parameter 2
							.select__param.active Parameter 3
							.select__param Parameter 4

					br
					br
					.select
						.select__head.active
							.select__icon-wrap
								+svg('ic-share-view','ic-share-view')
								span.select__head-text View
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active
								.select__icon-wrap
									+svg('ic-share-view','ic-share-view')
									|View
							.select__param
								.select__icon-wrap
									+svg('ic-edit','ic-edit')
									|Edit

					br
					br
					.h2 Select with filter
					.select.select_small
						.select__head Please Select...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select-filter
							.select-filter__content
								form
									.select-filter__top
										.input-check
											input#paramAll(type='checkbox', name='paramAll')
											label.input-check__label(for='paramAll')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Top 5 users

										a(href="#").select-filter__clear Clear

									.form-search
										input(type="text", placeholder="Search a user")
										button(type="submit")
											+svg('ic-search','ic-search')
										span.form-search__close
											+svg('ic-close-small','ic-close-small')

									.select-filter__params
										.input-check
											input#param1(type='checkbox', name='param1', checked="checked")
											label.input-check__label(for='param1')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Ron Paul (26)

										.input-check
											input#param2(type='checkbox', name='param2')
											label.input-check__label(for='param2')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Floyd Stephens (20)

										.input-check
											input#param3(type='checkbox', name='param3')
											label.input-check__label(for='param3')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Lillie Shaw (10)

										.input-check
											input#param4(type='checkbox', name='param4')
											label.input-check__label(for='param4')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Christian Sharp

										.input-check
											input#param5(type='checkbox', name='param5')
											label.input-check__label(for='param5')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Gabriel Barton

										.input-check
											input#param6(type='checkbox', name='param6')
											label.input-check__label(for='param6')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Craig Wolfe

										.input-check
											input#param7(type='checkbox', name='param7')
											label.input-check__label(for='param7')
												span.input-check__mark
													+svg('ic-check','ic-check')
												span.input-check__text Nacny Beck

									.select-filter__btn
										a(href="#").btn.btn_border.btn_small Cancel
										input.btn.btn_small(type="submit", value="Apply")


					br
					br
					.h2 Select autocomplite
					.select
						.select__head.active
							.select__search
								input(type="text", value="ja", placeholder="Type the person's name...",)
								span.select__search-close
									+svg('ic-close-small','ic-close-small')
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param <span class="select__accent">Ja</span>ck Black
							.select__param <span class="select__accent">Ja</span>ck Nicholson
							.select__param Johnson <span class="select__accent">Ja</span>ck
							.select__param White <span class="select__accent">Ja</span>mes