extends ../layout/main

block variables
	- var title = 'Usage Dashboard';
	//- - var mainIndent = 'false';
	//- - var h1 = 'Usage Dashboard';

block content
	.usage-dashboard
		include ../components/usage-dashboard-head

		section.empty-block
			.container-fluid
				.row
					.col-12
						.empty-block__head Looks like everyone is resting. Wait until the users will start working.
						.empty-block__text Users’ activity will be shown here.

						.empty-block__img
							img(src="assets/img/output-history-empty.png", alt="", style="height: 256px;")