extends ../layout/main

block variables
	- var title = 'Usage Dashboard';
	//- - var h1 = 'Usage Dashboard';

block content
	.usage-dashboard
		include ../components/usage-dashboard-head

		section.usage-dashboard-top
			.container-fluid
				.row
					.col-12
						.usage-dashboard-top__content
							a(href='#').link-load
								span.ic-hover
									+svg('ic-download','ic-download')
								span.link-load__text Download


							.usage-dashboard-top__tab
								-
									var tabs=[
										{name:'General Usage', link:'#', class:'d-none d-md-inline-flex'},
										{name:'Monthly Activity', link:'#', class:'d-none d-md-inline-flex'},
										{name:'Activity per User', link:'#', active:'true', class:'d-none d-lg-inline-flex'},
										{name:'Top 10 Users', link:'#', class:'d-none d-lg-inline-flex'},
										{
											more: 'true',
											name:'Retention',
											link:'#',
											popup_list:[
												{name:'Created', link:'#'},
												{name:'Table', link:'#'},
												{name:'General Usage', link:'#', class:'d-md-none'},
												{name:'Monthly Activity', link:'#', class:'d-md-none'},
												{name:'Activity per User', link:'#', class:'d-lg-none'},
												{name:'Top 10 Users', link:'#', class:'d-lg-none'},
											]
										}
									];
								+tabsPage(tabs)

		include ../components/usage-dashboard-panel

		section.category-list
			.container-fluid
				.row
					.col-12
						.category-list__content
							.category-list__label Top 10 users in the last:

							.category-list__list
								.category-list__item.active
									a(href="#").category-list__link Month

								.category-list__item
									a(href="#").category-list__link 3 Months

								.category-list__item
									a(href="#").category-list__link 6 Months

		section.graph-wrap
			.container-fluid
				.row
					.col-lg-6
						- var graphInfo={head:'New Queries'};
						+graph(graphInfo)

					.col-lg-6
						- var graphInfo={head:'File Downloads'};
						+graph(graphInfo)