extends ../layout/main

block variables
	- var title = 'Usage Dashboard';
	//- - var mainIndent = 'false';
	//- - var h1 = 'Usage Dashboard';

block content
	.usage-dashboard
		include ../components/usage-dashboard-head

		section.usage-dashboard-top
			.container-fluid
				.row
					.col-12
						.usage-dashboard-top__content
							a(href='#').link-load
								span.ic-hover
									+svg('ic-download','ic-download')
								span.link-load__text Download


							.usage-dashboard-top__tab
								-
									var tabs=[
										{name:'General Usage', link:'#', class:'d-none d-md-inline-block'},
										{name:'Monthly Activity', link:'#', active:'true', class:'d-none d-md-inline-block'},
										{name:'Activity per User', link:'#', class:'d-none d-lg-inline-block'},
										{name:'Top 10 Users', link:'#', class:'d-none d-lg-inline-block'},
										{
											more: 'true',
											name:'Retention',
											link:'#',
											popup_list:[
												{name:'Created', link:'#'},
												{name:'Table', link:'#'},
												{name:'General Usage', link:'#', class:'d-md-none'},
												{name:'Monthly Activity', link:'#', class:'d-md-none'},
												{name:'Activity per User', link:'#', class:'d-lg-none'},
												{name:'Top 10 Users', link:'#', class:'d-lg-none'},
											]
										}
									];
								+tabsPage(tabs)

		include ../components/usage-dashboard-panel

		section.graph-wrap
			.container-fluid
				.row
					.col-lg-6
						- var graphInfo={head:'Activity: new queries count'};
						+graph(graphInfo)

					.col-lg-6
						- var graphInfo={head:'Activity: file downloads count'};
						+graph(graphInfo)