extends ../layout/main

block variables
	- var title = 'User List';
	//- - var h1 = 'User List';

block content
	include ../components/user-list-top

	section.empty-block
			.container-fluid
				.row
					.col-12
						a.btn.btn_icon(href='#') + New User
						a.btn.btn_border(href='#') Upload from File

						.empty-block__head There are no users defined. Start by clicking one of the buttons above.
						.empty-block__text The users will be listed here.

						.empty-block__img
							img(src="assets/img/output-history-empty.png", alt="", style="height: 256px;")