header.header
	.container
		.row
			.col-12
				.header__content
					.header__info
						span.ic-hamburger
							span
						
						.header__logo
							a(href="/")
								img(src="/assets/img/logo-white.png", alt="Logo")

						.header__company Organization Name

					.header__action
						.header__notice.active

						.header__profile(style="background-image: url(/assets/img/avatar.jpg)")