header.header
	.container-fluid
		.row
			.col-12
				.header__content
					.header__main
						.header__logo
							a(href="/")
								img(src="/assets/img/logo-white.svg", alt="Logo")

						.hamburger.active
							+svg('ic-pager-arr-left','ic-pager-arr-left')

							span.ic-hamburger
								span
					.header__info
						.header__company.d-none.d-lg-block
							+svg('ic-flower','ic-flower')
							span.header__company-name Buttercup Hospital Institute

						.header__action
							.select.d-none.d-lg-block
								.select__head Sheba Central
									.select__head-arr
										+svg('ic-select-arr-down','ic-select-arr-down')
								.select__option
									.select__param Text 1
									.select__param Text 2
									.select__param Text 3
									.select__param Text 4
		
							.header__notice.active
								+svg('notice-active','notice')

							.header__profile(style="background-image: url(/assets/img/avatar.jpg)")

	.sidebar.active
		include ../components/sidebar
